﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="API.aspx.vb" Inherits="SWC_ServiceSystem.API" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Button ID="Button1" runat="server" Text="Post" class="btn btn-default" />

    <asp:Button ID="Button2" runat="server" Text="get" class="btn btn-default" />
    </div>
    </form>
</body>
</html>
