﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="RepairOrderReport.aspx.vb" Inherits="SWC_ServiceSystem.RepairOrderReport" %>

<%@ Register assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" namespace="CrystalDecisions.Web" tagprefix="CR" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

        <script src="../aspnet_client/system_web/4_0_30319/crystalreportviewers13/js/crviewer/crv.js" type="text/javascript"></script>

</head>
<body>
    <form id="form1" runat="server">
    <div>
         <CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server" 
        AutoDataBind="false"  GroupTreeImagesFolderUrl="" Height="1269px" 
        ReportSourceID="CrystalReportSource1" ToolbarImagesFolderUrl="" 
        ToolPanelWidth="200px" Width="1082px" ShowAllPageIds="false" 
        ToolPanelView="None" HasCrystalLogo="False" HasRefreshButton="True" 
        HasToggleGroupTreeButton="False" HasToggleParameterPanelButton="False" />
   
    <CR:CrystalReportSource ID="CrystalReportSource1" runat="server">
        <Report FileName="MyCrystalReport.rpt">
        </Report>
    </CR:CrystalReportSource>
    </div>
    </form>
</body>
</html>
