﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="WebForm1.aspx.vb" Inherits="SWC_ServiceSystem.WebForm1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Dashboard | Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/favicon-114x114.png">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <%--<link type="text/css" rel="stylesheet" href="styles/jquery-ui-1.10.4.custom.min.css">--%>
    <link type="text/css" rel="stylesheet" href="styles/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="styles/animate.css">
    <link type="text/css" rel="stylesheet" href="styles/all.css">
    <link type="text/css" rel="stylesheet" href="styles/main.css">
    <link type="text/css" rel="stylesheet" href="styles/style-responsive.css">
    <link type="text/css" rel="stylesheet" href="styles/zabuto_calendar.min.css">
    <link type="text/css" rel="stylesheet" href="styles/pace.css">
    <link type="text/css" rel="stylesheet" href="styles/jquery.news-ticker.css">

      <%-- TAB--%>
          <script src="../vendor/jquery-1.7.1.min.js" type="text/javascript"></script> 
          <script src="../vendor/jquery.hashchange.min.js" type="text/javascript"></script>
          <script src="../lib/jquery.easytabs.min.js" type="text/javascript"></script>

          <%--<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>--%>

          <style>
            /* Example Styles for Demo */
            .etabs { margin: 0; padding: 0; }
            .tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
            .tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
            .tab a:hover { text-decoration: underline; }
            .tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
            .tab a.active { font-weight: bold; }
            .tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
            .panel-container { margin-bottom: 10px; }
          </style>

          <script type="text/javascript">
              $(document).ready(function () {
                  $('#tab-container').easytabs();
              });
          </script>

    <%--End TAB--%>
     <%--dropdown--%><%--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">--%>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
        .selcls { 
            padding: 9px; 
            border: solid 1px #517B97; 
            outline: 0; 
            background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #CAD9E3), to(#FFFFFF)); 
            background: -moz-linear-gradient(top, #FFFFFF, #CAD9E3 1px, #FFFFFF 25px); 
            box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
            -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
            -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 

            } 
   
            .style12
            {
                height: 21px;
                width: 127px;
            }
            .style13
            {
                width: 127px;
            }
   
        </style> 
      <%--dropdown--%>

</head>
<body>
       <div>
        <!--BEGIN THEME SETTING-->
        <div id="theme-setting">
            <a href="#" data-toggle="dropdown" data-step="1" data-intro="&lt;b&gt;Many styles&lt;/b&gt; and &lt;b&gt;colors&lt;/b&gt; be created for you. Let choose one and enjoy it!"
                data-position="left" class="btn-theme-setting"><i class="fa fa-cog"></i></a>
            <div class="content-theme-setting">
                <select id="list-style" class="form-control">
                    <option value="style1">Flat Squared style</option>
                    <option value="style2">Flat Rounded style</option>
                    <option value="style3" selected="selected">Flat Border style</option>
                </select>
            </div>
        </div>
        <!--END THEME SETTING-->
        <!--BEGIN BACK TO TOP-->
        <a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
        <!--END BACK TO TOP-->
        <!--BEGIN TOPBAR-->
        <div id="header-topbar-option-demo" class="page-header-topbar">
            <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3" class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a id="logo" href="index.html" class="navbar-brand"><span class="fa fa-rocket"></span><span class="logo-text">KAdmin</span><span style="display: none" class="logo-text-icon">µ</span></a></div>
            <div class="topbar-main"><a id="menu-toggle" href="#" class="hidden-xs"><i class="fa fa-bars"></i></a>
                
                <form id="topbar-search" action="" method="" class="hidden-sm hidden-xs">
                    <div class="input-icon right text-white"><a href="#"><i class="fa fa-search"></i></a><input type="text" placeholder="Search here..." class="form-control text-white"/></div>
                </form>
                <div class="news-update-box hidden-xs"><span class="text-uppercase mrm pull-left text-white">News:</span>
                    <ul id="news-update" class="ticker list-unstyled">
                        <li>Welcome to KAdmin - Responsive Multi-Style Admin Template</li>
                        <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</li>
                    </ul>
                </div>
                <ul class="nav navbar navbar-top-links navbar-right mbn">
                    <li class="dropdown"><a data-hover="dropdown" href="#" class="dropdown-toggle"><i class="fa fa-bell fa-fw"></i><span class="badge badge-green">3</span></a>
                        
                    </li>
                    <li class="dropdown"><a data-hover="dropdown" href="#" class="dropdown-toggle"><i class="fa fa-envelope fa-fw"></i><span class="badge badge-orange">7</span></a>
                        
                    </li>
                    <li class="dropdown"><a data-hover="dropdown" href="#" class="dropdown-toggle"><i class="fa fa-tasks fa-fw"></i><span class="badge badge-yellow">8</span></a>
                        
                    </li>
                    <li class="dropdown topbar-user"><a data-hover="dropdown" href="#" class="dropdown-toggle"><img src="images/avatar/48.jpg" alt="" class="img-responsive img-circle"/>&nbsp;<span class="hidden-xs">Robert John</span>&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-user pull-right">
                            <li><a href="#"><i class="fa fa-user"></i>My Profile</a></li>
                            <li><a href="#"><i class="fa fa-calendar"></i>My Calendar</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i>My Inbox<span class="badge badge-danger">3</span></a></li>
                            <li><a href="#"><i class="fa fa-tasks"></i>My Tasks<span class="badge badge-success">7</span></a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-lock"></i>Lock Screen</a></li>
                            <li><a href="Login.html"><i class="fa fa-key"></i>Log Out</a></li>
                        </ul>
                    </li>
                    <li id="topbar-chat" class="hidden-xs"><a href="javascript:void(0)" data-step="4" data-intro="&lt;b&gt;Form chat&lt;/b&gt; keep you connecting with other coworker" data-position="left" class="btn-chat"><i class="fa fa-comments"></i><span class="badge badge-info">3</span></a></li>
                </ul>
            </div>
        </nav>
            <!--BEGIN MODAL CONFIG PORTLET-->
            <div id="modal-config" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                                &times;</button>
                            <h4 class="modal-title">
                                Modal title</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend et nisl eget
                                porta. Curabitur elementum sem molestie nisl varius, eget tempus odio molestie.
                                Nunc vehicula sem arcu, eu pulvinar neque cursus ac. Aliquam ultricies lobortis
                                magna et aliquam. Vestibulum egestas eu urna sed ultricies. Nullam pulvinar dolor
                                vitae quam dictum condimentum. Integer a sodales elit, eu pulvinar leo. Nunc nec
                                aliquam nisi, a mollis neque. Ut vel felis quis tellus hendrerit placerat. Vivamus
                                vel nisl non magna feugiat dignissim sed ut nibh. Nulla elementum, est a pretium
                                hendrerit, arcu risus luctus augue, mattis aliquet orci ligula eget massa. Sed ut
                                ultricies felis.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-default">
                                Close</button>
                            <button type="button" class="btn btn-primary">
                                Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--END MODAL CONFIG PORTLET-->
        </div>
        <!--END TOPBAR-->
        <div id="wrapper">
            <!--BEGIN SIDEBAR MENU-->
            <nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
                data-position="right" class="navbar-default navbar-static-side">
            <div class="sidebar-collapse menu-scroll">
                <ul id="side-menu" class="nav">
                    
                     <div class="clearfix"></div>
                    <li class="active"><a href="dashboard.html"><i class="fa fa-tachometer fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Dashboard</span></a></li>
                    <li><a href="Layout.html"><i class="fa fa-desktop fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">Layouts</span></a>
                       
                    </li>
                    <li><a href="UIElements.html"><i class="fa fa-send-o fa-fw">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">UI Elements</span></a>
                       
                    </li>
                    <li><a href="Forms.html"><i class="fa fa-edit fa-fw">
                        <div class="icon-bg bg-violet"></div>
                    </i><span class="menu-title">Forms</span></a>
                      
                    </li>
                    <li><a href="Tables.html"><i class="fa fa-th-list fa-fw">
                        <div class="icon-bg bg-blue"></div>
                    </i><span class="menu-title">Tables</span></a>
                          
                    </li>
                    <li><a href="DataGrid.html"><i class="fa fa-database fa-fw">
                        <div class="icon-bg bg-red"></div>
                    </i><span class="menu-title">Data Grids</span></a>
                      
                    </li>
                    <li><a href="Pages.html"><i class="fa fa-file-o fa-fw">
                        <div class="icon-bg bg-yellow"></div>
                    </i><span class="menu-title">Pages</span></a>
                       
                    </li>
                    <li><a href="Extras.html"><i class="fa fa-gift fa-fw">
                        <div class="icon-bg bg-grey"></div>
                    </i><span class="menu-title">Extras</span></a>
                      
                    </li>
                    <li><a href="Dropdown.html"><i class="fa fa-sitemap fa-fw">
                        <div class="icon-bg bg-dark"></div>
                    </i><span class="menu-title">Multi-Level Dropdown</span></a>
                      
                    </li>
                    <li><a href="Email.html"><i class="fa fa-envelope-o">
                        <div class="icon-bg bg-primary"></div>
                    </i><span class="menu-title">Email</span></a>
                      
                    </li>
                    <li><a href="Charts.html"><i class="fa fa-bar-chart-o fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Charts</span></a>
                       
                    </li>
                    <li><a href="Animation.html"><i class="fa fa-slack fa-fw">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">Animations</span></a></li>
                </ul>
            </div>
        </nav>
            <!--END SIDEBAR MENU-->
            <!--BEGIN CHAT FORM-->
            <div id="chat-form" class="fixed">
                <div class="chat-inner">
                    <h2 class="chat-header">
                        <a href="javascript:;" class="chat-form-close pull-right"><i class="glyphicon glyphicon-remove">
                        </i></a><i class="fa fa-user"></i>&nbsp; Chat &nbsp;<span class="badge badge-info">3</span></h2>
                    <div id="group-1" class="chat-group">
                        <strong>Favorites</strong><a href="#"><span class="user-status is-online"></span> <small>
                            Verna Morton</small> <span class="badge badge-info">2</span></a><a href="#"><span
                                class="user-status is-online"></span> <small>Delores Blake</small> <span class="badge badge-info is-hidden">
                                    0</span></a><a href="#"><span class="user-status is-busy"></span> <small>Nathaniel Morris</small>
                                        <span class="badge badge-info is-hidden">0</span></a><a href="#"><span class="user-status is-idle"></span>
                                            <small>Boyd Bridges</small> <span class="badge badge-info is-hidden">0</span></a><a
                                                href="#"><span class="user-status is-offline"></span> <small>Meredith Houston</small>
                                                <span class="badge badge-info is-hidden">0</span></a></div>
                    <div id="group-2" class="chat-group">
                        <strong>Office</strong><a href="#"><span class="user-status is-busy"></span> <small>
                            Ann Scott</small> <span class="badge badge-info is-hidden">0</span></a><a href="#"><span
                                class="user-status is-offline"></span> <small>Sherman Stokes</small> <span class="badge badge-info is-hidden">
                                    0</span></a><a href="#"><span class="user-status is-offline"></span> <small>Florence
                                        Pierce</small> <span class="badge badge-info">1</span></a></div>
                    <div id="group-3" class="chat-group">
                        <strong>Friends</strong><a href="#"><span class="user-status is-online"></span> <small>
                            Willard Mckenzie</small> <span class="badge badge-info is-hidden">0</span></a><a
                                href="#"><span class="user-status is-busy"></span> <small>Jenny Frazier</small>
                                <span class="badge badge-info is-hidden">0</span></a><a href="#"><span class="user-status is-offline"></span>
                                    <small>Chris Stewart</small> <span class="badge badge-info is-hidden">0</span></a><a
                                        href="#"><span class="user-status is-offline"></span> <small>Olivia Green</small>
                                        <span class="badge badge-info is-hidden">0</span></a></div>
                </div>
                <div id="chat-box" style="top: 400px">
                    <div class="chat-box-header">
                        <a href="#" class="chat-box-close pull-right"><i class="glyphicon glyphicon-remove">
                        </i></a><span class="user-status is-online"></span><span class="display-name">Willard
                            Mckenzie</span> <small>Online</small>
                    </div>
                    <div class="chat-content">
                        <ul class="chat-box-body">
                            <li>
                                <p>
                                    <img src="images/avatar/128.jpg" class="avt" /><span class="user">John Doe</span><span
                                        class="time">09:33</span></p>
                                <p>
                                    Hi Swlabs, we have some comments for you.</p>
                            </li>
                            <li class="odd">
                                <p>
                                    <img src="images/avatar/48.jpg" class="avt" /><span class="user">Swlabs</span><span
                                        class="time">09:33</span></p>
                                <p>
                                    Hi, we're listening you...</p>
                            </li>
                        </ul>
                    </div>
                    <div class="chat-textarea">
                        <input placeholder="Type your message" class="form-control" /></div>
                </div>
            </div>
            <!--END CHAT FORM-->
            <!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <div class="page-header pull-left">
                        <div class="page-title">
                            Dashboard</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a href="dashboard.html">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                        <li class="hidden"><a href="#">Dashboard</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                        <li class="active">Dashboard</li>
                    </ol>
                    <div class="clearfix">
                    </div>
                </div>
                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class="page-content">
                    <div id="tab-general">                   
                        <div class="row mbl">
                            <div class="col-lg-8">
                                <div class="panel"
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                               
                                                <%--<div id="area-chart-spline" style="width: 100%; height: 300px">--%>
                                                 <div id="Div1" style="width: 100%; height: 100%">
                                                
                                                <%--start--%>

                      <form id="form1" runat="server">

                                                   <div id="tab-container" class='tab-container'>
                 <ul class='etabs'>
                   <li class='tab'><a href="#tabs1-html">REPAIR ORDER FORM</a></li>
                   <li class='tab'><a href="#tabs1-js">PARTS REQUIRED</a></li>
                   <li class='tab'><a href="#tabs1-css">LABOR</a></li>
                 </ul>
                 <div class='panel-container'>
                
                  <div id="tabs1-html">
                  
                    <table width="100%" dir="ltr" >	                    
            <tr>
                <td align="right" class="style10">
                    <asp:Label ID="Label18" runat="server" 
                        Text="เลขที่ NO. :" Width="87px"  Font-Size="Small"></asp:Label>
                </td>
                <td align="left" valign="middle" class="style8" colspan="2">

                  <asp:TextBox ID="txtCMID" runat="server" CssClass="fn_Content" Width="150px"  
                        class="form-control" Font-Size="Small" ReadOnly="True"></asp:TextBox>


                </td>
                <td align="right" class="style8" colspan="3">
                    <asp:Label ID="Label48" runat="server" CssClass="fn_ContentTital" 
                        Text="สถานะ :" Font-Size="Small" Width="45px"></asp:Label>
                </td>
                <td align="left" class="style8" colspan="3">

                <asp:DropDownList ID="drpStatus" runat="server" Width="100%" class="form-control"
                        ClientIDMode="Static" Font-Size="Small">
                    <asp:ListItem>Open</asp:ListItem>
                    <asp:ListItem>Close</asp:ListItem>
                    </asp:DropDownList>


                    </td>
                <td align="left" class="style9">
                </td>
                <td align="left" class="style8">
                    </td>
            </tr>
        
          
            <tr>
                <td align="right" class="style4">
                    <asp:Label ID="Label63" runat="server" 
                        Text="วันที่แจ้งซ่อม :" Width="87px"  Font-Size="Small"></asp:Label>
                </td>
                <td align="left" valign="middle" class="style5" colspan="2">

                  <asp:TextBox ID="txtDateRepair" runat="server" CssClass="fn_Content" Width="150px"  
                         class="form-control" Font-Size="Small" ReadOnly="True"></asp:TextBox>


                </td>
                <td align="right" class="style5" colspan="3">
                                   
                    <asp:Label ID="Label64" runat="server" CssClass="fn_ContentTital" 
                        Text="พนักงานรับแจ้ง :" Font-Size="Small" Width="90px"></asp:Label>

                </td>
                <td align="left" class="style5" colspan="3">

                <asp:DropDownList ID="drpReceptionnist" runat="server" Width="100%"  class="form-control"
                        ClientIDMode="Static" Font-Size="Small" AutoPostBack="True">
                    </asp:DropDownList>

                    </td>
                <td align="left" class="style6">
                    &nbsp;</td>
                <td align="left" class="style5">
                                   
                    <asp:Label ID="lblReceptionnistName" runat="server" Text="-" Width="100%"></asp:Label>

                    </td>
            </tr>
        
          
            <tr>
                <td align="right" class="style4">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style5" colspan="2">

                    &nbsp;</td>
                <td align="right" class="style5" colspan="3">
                    &nbsp;</td>
                <td align="left" class="style5" colspan="3">
                    &nbsp;</td>
                <td align="left" class="style6">
                    &nbsp;</td>
                <td align="left" class="style5">
                    &nbsp;</td>
            </tr>
        
          
            <tr>
                <td align="right" class="style4">
                    <asp:Label ID="Label53" runat="server" Font-Bold="True" Font-Size="Small" 
                        ForeColor="Red" Text="*"></asp:Label>
                    <asp:Label ID="Label33" runat="server" CssClass="fn_ContentTital" 
                        Text="ลูกค้า :" Font-Size="Small"></asp:Label>
                </td>
                <td align="left" valign="middle" class="style5" colspan="2">

                <asp:DropDownList ID="drpCust" runat="server" Width="100%" class="form-control"
                        ClientIDMode="Static" Font-Size="Small" AutoPostBack="True">
                    </asp:DropDownList>

                <%-- <div class="form-group">
                    <label for="gender1" class="col-sm-2 control-label">With Bootstrap:</label>
                    <div class="col-sm-2">
                    <select class="form-control" id="gender1">
                      <option>Male</option>
                      <option>Female</option>
                    </select>          
          
                        </div>
                </div>          --%>


                </td>
                <td align="right" class="style5" colspan="3">
                                   
                    <asp:Label ID="Label62" runat="server" CssClass="fn_ContentTital" 
                        Text="ชื่อลูกค้า :" Height="21px" Font-Size="Small"></asp:Label>
                                   

                </td>
                <td align="left" class="style5" colspan="3">
                                   
                    <asp:Label ID="lblCustName" runat="server" Text="-" Width="100%"></asp:Label>

                    </td>
                <td align="left" class="style6">
                    &nbsp;</td>
                <td align="left" class="style5">
                    &nbsp;</td>
            </tr>
        
          
            <tr>
                <td align="right" class="style4">
                    <asp:Label ID="Label60" runat="server" CssClass="fn_ContentTital" 
                        Text="ที่อยู่ :" Width="99px" Height="21px" Font-Size="Small"></asp:Label>
                </td>
                <td align="left" valign="middle" class="style5" colspan="2">

                    <asp:Label ID="lblCustAdd" runat="server" Text="-" Width="100%"></asp:Label>


                </td>
                <td align="right" class="style5" colspan="3">
                                   
                    <asp:Label ID="Label34" runat="server" CssClass="fn_ContentTital" 
                        Text="เบอร์โทรศัพท์ :" Width="90px" Font-Size="Small"></asp:Label>
                                   

                </td>
                <td align="left" class="style5" colspan="3">
                                   
                    <asp:Label ID="lblCustTel" runat="server" Text="-" Width="100%"></asp:Label>

                    </td>
                <td align="left" class="style6">
                    &nbsp;</td>
                <td align="left" class="style5">
                    &nbsp;</td>
            </tr>
        
            <tr>
                <td align="right" class="style3">
                    &nbsp;</td>
                
                 <td align ="left" class="style2" >

                     &nbsp;</td>
                
                 <td align ="right" >

                     &nbsp;</td>
                
                                 <td align="left" class="style7" colspan="8">
                                   
                                     &nbsp;</td>

            </tr>        
            <tr>
                <td align="right" class="style3">
                    <asp:Label ID="Label58" runat="server" Font-Bold="True" Font-Size="Small" 
                        ForeColor="Red" Text="*"></asp:Label>
                    <asp:Label ID="Label59" runat="server" CssClass="fn_ContentTital" 
                        Text="Sale ID :" Font-Size="Small"></asp:Label>
                </td>
                
                 <td align ="left" class="style2" >

                    <asp:DropDownList ID="drpSale" runat="server" AutoPostBack="True"   ClientIDMode="Static" class="form-control"
                        Width="100%">
                      
                    </asp:DropDownList>
                </td>
                
                 <td align ="right" >

                     &nbsp;</td>
                
                                 <td align="left" class="style7" colspan="8">
                                   
                                     &nbsp;</td>
            </tr>         
            <tr>
                <td align="right" class="style3">
                    <asp:Label ID="Label66" runat="server" Font-Bold="True" Font-Size="Small" 
                        ForeColor="Red" Text="*"></asp:Label>
                    &nbsp;<asp:Label ID="Label65" runat="server" CssClass="fn_ContentTital" 
                        Text="Sale Item :" Font-Size="Small"></asp:Label>
                </td>                
                 <td align ="left" class="style2" >
                    <asp:DropDownList ID="drpSaleItem" runat="server"   ClientIDMode="Static" class="form-control"
                        Width="100%">                     
                    </asp:DropDownList>
                </td>                
                 <td align ="right" >
                     &nbsp;</td>                
                                 <td align="left" class="style7" colspan="8">
                                   
                                     &nbsp;</td>
            </tr>   
            <tr>
                <td align="right" class="style3">
                    &nbsp;</td>
                <td align="left" valign="middle" colspan="10">
                    &nbsp;</td>
            </tr>      
    </table>


    <table >
            <tr>
                <td align="left" class="style13">

                <h4>แจ้งซ่อม</h4>
                    </td>
                <td align="left" class="style1">
                    &nbsp;</td>
            </tr>       
            <tr>
                <td align="right" class="style12">
                    <asp:Label ID="Label13" runat="server" CssClass="fn_ContentTital" 
                        Text="รายการแจ้งซ่อม : " ToolTip="รายการแจ้งซ่อม"></asp:Label>
                    </td>
                <td align="left" valign="middle" class="style5">


                    <asp:TextBox ID="txtRepairDesc" runat="server" Width="100%"></asp:TextBox>


                    </td>
                <td align="right" valign="middle" class="style3">

                    <asp:Label ID="Label14" runat="server" CssClass="fn_ContentTital" 
                        Text="สาเหตุของอาการ : " ToolTip="รายการแจ้งซ่อม" Width="110px"></asp:Label>
                    </td>
                <td align="left" class="style6" colspan="3">

                    <asp:TextBox ID="txtRepairCause" runat="server" Width="100%"></asp:TextBox>
                    </td>
                <td align="left" class="style1">
                    &nbsp;&nbsp;

                <asp:Button ID="btnADD" runat="server" Text="ADD" class="btn btn-primary" />

                    </td>
            </tr>       
            <tr>
                <td align="right" class="style12">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style5">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style3">
                    &nbsp;</td>
                <td align="left" class="style6">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style1">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style1">
                    &nbsp;</td>
                <td align="left" class="style1">
                    &nbsp;</td>
            </tr>      
        </table>

         

            <asp:GridView ID="GridView1" runat="server" AllowPaging="True"  
                                                            
            AutoGenerateColumns="False" DataKeyNames="RepairID" DataSourceID="SqlDataSource1" 
                                                            Font-Bold="False" 
            Font-Names="Tahoma" Font-Size="Small" ShowFooter="True" 
                                                            Width="100%" 
            CellPadding="3" BackColor="White" BorderColor="#999999" 
                                                           
                                                            GridLines="Vertical" BorderWidth="1px" BorderStyle="Solid" 
         ForeColor="Black" Height="50px">
                                                         
                                                            <FooterStyle BackColor="#CCCCCC" />
                                                            <PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
                                                            <SelectedRowStyle BackColor="#000099" Font-Bold="True" ForeColor="White" />
                                                            <HeaderStyle BackColor="Black" Font-Bold="true" ForeColor="White" />
                                                            <AlternatingRowStyle BackColor="#CCCCCC" />
                                                                
                                                            <Columns>
                                                                  <asp:BoundField DataField="RepairID" HeaderText="No." 
                                                                    SortExpression="RepairID" ReadOnly="True"  >
                                                                    <HeaderStyle HorizontalAlign="Left" />
                                                                </asp:BoundField>

                                                                <asp:BoundField DataField="Repair_Desc" HeaderText="รายการแจ้งซ่อม" 
                                                                    SortExpression="Repair_Desc"  >
                                                                    <HeaderStyle HorizontalAlign="Left" />
                                                                </asp:BoundField>

                                                                <asp:BoundField DataField="Repair_Cause" HeaderText="สาเหตุของอาการ" 
                                                                    SortExpression="Repair_Cause"   >
                                                                    <HeaderStyle HorizontalAlign="Left" />
                                                                </asp:BoundField>
                                                                    <asp:CommandField ShowDeleteButton="True" ShowEditButton="True" 
                                                                   
                                                                    DeleteImageUrl="~/Images/icon_delete.ico" 
                                                                    EditImageUrl="~/Images/icon_edit.ico" 
                                                                    ButtonType="Image" 
                                                                    CancelImageUrl="~/Images/icon_close.ico" 
                                                                    UpdateImageUrl="~/Images/icon_Save.ico" >
                                                                         <HeaderStyle HorizontalAlign="Left" />
                                                                   </asp:CommandField>

                                                            </Columns>
                                                              <SortedAscendingCellStyle BackColor="#F1F1F1" />
                                                            <SortedAscendingHeaderStyle BackColor="#808080" />
                                                            <SortedDescendingCellStyle BackColor="#CAC9C9" />
                                                            <SortedDescendingHeaderStyle BackColor="#383838" />
                                                        </asp:GridView>



          <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
        ConnectionString="<%$ ConnectionStrings:ServiceConnectionString %>" 
        DeleteCommand="DELETE FROM  TB_CMRepair where RepairID = @RepairID" 
       SelectCommand="SELECT RepairID	,Repair_Desc  ,Repair_Cause from TB_CMRepair where CMID = @CMID "
        UpdateCommand="UPDATE [TB_CMRepair] set  Repair_Desc=@Repair_Desc, Repair_Cause=@Repair_Cause , MidifyDate = getdate()  where [RepairID] = @RepairID "
        >
        
          <selectparameters>
              <asp:controlparameter name="CMID" controlid="txtCMID" />
             
          </selectparameters>

        <UpdateParameters>      
            <asp:Parameter Name="RepairID" />  
            <asp:Parameter Name="Repair_Desc" />  
            <asp:Parameter Name="Repair_Cause" />     
        </UpdateParameters>

           <DeleteParameters>
                <asp:Parameter Name="RepairID" /> 
            </DeleteParameters>
        
    </asp:SqlDataSource>
   


                 
                  </div>

                   <div id="tabs1-js">
                  
                    <script type="text/javascript">
                        function GridSelectAllColumn(spanChk) {
                            var oItem = spanChk.children;
                            var theBox = (spanChk.type == "checkbox") ? spanChk : spanChk.children.item[0]; xState = theBox.checked;
                            elm = theBox.form.elements;

                            for (i = 0; i < elm.length; i++) {
                                if (elm[i].type === 'checkbox' && elm[i].checked != xState)
                                    elm[i].click();
                            }
                        }
                    </script>
 
                        <asp:GridView runat="server" ID="GVSparePart" DataKeyNames="ItemId" AutoGenerateColumns="False" 
                                            HeaderStyle-BackColor="CornflowerBlue" HeaderStyle-Font-Bold="true" 
                                            HeaderStyle-ForeColor="White" CellPadding="2" BackColor="White" 
                                            BorderColor="#CCCCCC" BorderStyle="None" 
                           BorderWidth="2px" ForeColor="Black" 
                                            GridLines="Horizontal" Width="80%" CellSpacing="2" 
                           Height="100%">
                            <Columns>
                                <asp:TemplateField HeaderText="Select">
                                <ItemTemplate>
                                <asp:CheckBox runat="server" ID="chk"/>
                                </ItemTemplate>
                                <ItemStyle BackColor="#DCE8FA" HorizontalAlign="Center" />
                                <HeaderStyle HorizontalAlign="Center" />
                                <HeaderTemplate>
                                <input id="chkAll" onclick="javascript:GridSelectAllColumn(this, 'chk');" runat="server" type="checkbox" value="" />
                                </HeaderTemplate>
                                </asp:TemplateField>
                                <asp:BoundField DataField="ItemID" HeaderText="ItemID">
                                </asp:BoundField>
                                <asp:BoundField DataField="ItemDesc" HeaderText="ItemDesc">
                                </asp:BoundField>
                                <asp:BoundField DataField="Qty" HeaderText="Qty">
                                </asp:BoundField>

                                <asp:TemplateField HeaderText="Qty Use">
                            <ItemTemplate>
                              <asp:TextBox ID="txtQty" runat="server" Text='<%# Eval("Qty")%>'></asp:TextBox>
                            </ItemTemplate>
                            <FooterTemplate>
                              <asp:TextBox ID="txtQty" runat="server"></asp:TextBox>
                            </FooterTemplate>
                           </asp:TemplateField>


                            </Columns>
                            <FooterStyle BackColor="#CCCC99" ForeColor="Black" />

                        <HeaderStyle BackColor="#333333" Font-Bold="True" ForeColor="White"></HeaderStyle>
                            <PagerStyle BackColor="White" ForeColor="Black" HorizontalAlign="Right" />
                            <SelectedRowStyle BackColor="#CC3333" Font-Bold="True" ForeColor="White" />
                            <SortedAscendingCellStyle BackColor="#F7F7F7" />
                            <SortedAscendingHeaderStyle BackColor="#4B4B4B" />
                            <SortedDescendingCellStyle BackColor="#E5E5E5" />
                            <SortedDescendingHeaderStyle BackColor="#242121" />
                        </asp:GridView>
 <%--
                        <asp:Button runat="server" ID="cmdDlete" Text="Choose Item"
                         OnClientClick="return confirm('Are you sure to Choose Item?')" OnClick="cmdDlete_Click" />--%>


                <asp:Label ID="lblmsg" runat="server" Text="Label"></asp:Label>


                  </div>

                  <div id="tabs1-css">
                   
                   <table >
            <tr>
                <td align="left" class="style13">

                    &nbsp;</td>
                <td align="left" class="style13">

                <%--<h4></h4>--%>
                    </td>
                <td align="left" class="style1">
                    &nbsp;</td>
            </tr>       
            <tr>
                <td align="right" class="style12">
                    &nbsp;</td>
                <td align="right" class="style12">
                    <asp:Label ID="Label1" runat="server" CssClass="fn_ContentTital" 
                        Text="รายการแจ้งซ่อม : " ToolTip="รายการแจ้งซ่อม"></asp:Label>
                    </td>
                <td align="left" valign="middle" class="style5">


                    <asp:TextBox ID="TextBox1" runat="server" Width="100%"></asp:TextBox>


                    </td>
                <td align="right" valign="middle" class="style3">

                    <asp:Label ID="Label2" runat="server" CssClass="fn_ContentTital" 
                        Text="สาเหตุของอาการ : " ToolTip="รายการแจ้งซ่อม" Width="110px"></asp:Label>
                    </td>
                <td align="left" class="style6" colspan="3">

                    <asp:TextBox ID="TextBox2" runat="server" Width="100%"></asp:TextBox>
                    </td>
                <td align="left" class="style1">
                    &nbsp;&nbsp;

                <asp:Button ID="Button1" runat="server" Text="ADD" class="btn btn-primary" />

                    </td>
            </tr>       
            <tr>
                <td align="right" class="style12">
                    &nbsp;</td>
                <td align="right" class="style12">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style5">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style3">
                    &nbsp;</td>
                <td align="left" class="style6">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style1">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style1">
                    &nbsp;</td>
                <td align="left" class="style1">
                    &nbsp;</td>
            </tr>      
        </table>

                  </div>
                 </div>
                </div>
                </form>
                                              <%--  end--%>

                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <!--END CONTENT-->
                <!--BEGIN FOOTER-->
                <div id="footer">
                    <div class="copyright">
                        <a href="http://themifycloud.com">Siamwatercraft Copyright © 2017 | All rights Reserved</a></div>
                </div>
                <!--END FOOTER-->
            </div>
            <!--END PAGE WRAPPER-->
        </div>
    </div>
    <script src="script/jquery-1.10.2.min.js"></script>
    <script src="script/jquery-migrate-1.2.1.min.js"></script>
    <script src="script/jquery-ui.js"></script>
    <script src="script/bootstrap.min.js"></script>
    <script src="script/bootstrap-hover-dropdown.js"></script>
    <script src="script/html5shiv.js"></script>
    <script src="script/respond.min.js"></script>
    <script src="script/jquery.metisMenu.js"></script>
    <script src="script/jquery.slimscroll.js"></script>
    <script src="script/jquery.cookie.js"></script>
    <script src="script/icheck.min.js"></script>
    <script src="script/custom.min.js"></script>
    <script src="script/jquery.news-ticker.js"></script>
    <script src="script/jquery.menu.js"></script>
    <script src="script/pace.min.js"></script>
    <script src="script/holder.js"></script>
    <script src="script/responsive-tabs.js"></script>
    <script src="script/jquery.flot.js"></script>
    <script src="script/jquery.flot.categories.js"></script>
    <script src="script/jquery.flot.pie.js"></script>
    <script src="script/jquery.flot.tooltip.js"></script>
    <script src="script/jquery.flot.resize.js"></script>
    <script src="script/jquery.flot.fillbetween.js"></script>
    <script src="script/jquery.flot.stack.js"></script>
    <script src="script/jquery.flot.spline.js"></script>
    <script src="script/zabuto_calendar.min.js"></script>
    <script src="script/index.js"></script>
    <!--LOADING SCRIPTS FOR CHARTS-->
    <script src="script/highcharts.js"></script>
    <script src="script/data.js"></script>
    <script src="script/drilldown.js"></script>
    <script src="script/exporting.js"></script>
    <script src="script/highcharts-more.js"></script>
    <script src="script/charts-highchart-pie.js"></script>
    <script src="script/charts-highchart-more.js"></script>
    <!--CORE JAVASCRIPT-->
    <script src="script/main.js"></script>
    <script>        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-145464-12', 'auto');
        ga('send', 'pageview');


</script>
</body>
</body>
</html>
